#page-content-wrapper {
  min-width: 100vw;
}

.frame {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  overflow: hidden;
}

@media (min-width: 450px) {
  #page-content-wrapper {
      min-width: 0;
      width: 100%;
  }
}
