<form (ngSubmit)="ok()">
  <div class="modal-header">
    <h4 class="modal-title">Colores de fondo</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row d-flex m-2">
      <div class="form-check col-6" *ngFor="let color of colors;let i = index" [ngClass]="{'flex-wrap': i % 2 == 0}">
        <input [attr.id]="color.id" class="form-check-input" type="radio" [formControl]="colorCtrl"
          [value]="color.value">
        <label class="form-check-label" [attr.for]="color.id">{{color.text}}</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cancelar</button>
    <button type="submit" class="btn btn-success">Aceptar</button>
  </div>
</form>