<div class="modal-header">
    <h4 class="modal-title">
        <ng-container *ngIf="message?.title">{{message?.title}}</ng-container>
        <ng-container *ngIf="!message?.title" i18n>Mensaje de error</ng-container>
    </h4>
    <button type="button" class="btn close" i18n-aria-label aria-label="Cerrar" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">    
    <p [innerHTML]="message?.text"></p>
</div>
<div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-outline-dark" (click)="activeModal.close()" i18n>Cerrar</button>
</div>