<ng-template #iTipo1>
  <div class="alert alert-info">
    <p>Contenido tipo 1</p>
  </div>
</ng-template>
<ng-template #iTipo2>
  <div class="alert alert-warning">
    <p>Contenido de otro tipo</p>
  </div>
</ng-template>

<div class="alert alert-danger">
  <h4>Proyectemos contenido condicional</h4>
  <!-- Opción 1 -->
  <ng-container *ngIf="tipo == 1; then iTipo1 else iTipo2">
    Esto nunca se mostrará
  </ng-container>
  <!-- Opción 2
  <ng-contrainer [ngSwitch]="tipo">
    <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="iTipo1"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="iTipo2"></ng-container>
  </ng-contrainer>
  -->
</div>