<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-info btn-block col-12 mb-2" routerLink="/main/comp-trad"
        routerLinkActive="active">Componente tradicional</button>
      <button class="btn btn-outline-info btn-block col-12 mb-2" routerLink="/main/comp-ind"
        routerLinkActive="active">Componente independiente</button>
    </div>
    <div class="col-10 body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
