<h3>Formulario de carga de datos</h3>
<form #iForm="ngForm" [formGroup]="form" class="col-12" (ngSubmit)="guardar()" invalidate>
  <div class="row">
    <div class="col-12 text-left"><b class="text-secondary">Datos Personales</b></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <label for="iapellido">Apellido</label>
      <input #iApellido type="text" id="iapellido" formControlName="apellido" class="form-control"
        placeholder="Ingresa tu apellido" value="" maxlength="100">
      <small class="text-danger" *ngIf="iForm.submitted && form.controls['apellido'].hasError('required')">
        Debes informar tu apellido.
      </small>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="inombre">Nombre</label>
      <input type="text" id="inombre" formControlName="nombre" class="form-control"
        placeholder="Ingresa tu nombre" value="" maxlength="255">
      <small class="text-danger" *ngIf="iForm.submitted && form.controls['nombre'].hasError('required')">
        Debes informar tu nombre.
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <label for="iemail">Correo</label>
      <input type="email" id="iemail" formControlName="correo" class="form-control"
        placeholder="Ingresa tu correo" value="" maxlength="255">
      <small class="text-danger" *ngIf="iForm.submitted">
        <ng-container *ngIf="form.controls['correo'].hasError('required')">Debes informar tu
          correo.</ng-container>
        <ng-container *ngIf="form.controls['correo'].hasError('email')">El correo es
          inválido.</ng-container>
      </small>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <label for="iclave">Ingrese Clave</label>
      <input type="password" id="iclave" formControlName="clave" class="form-control"
        placeholder="Ingresa una clave" value="" maxlength="32">
      <small class="text-danger" *ngIf="iForm.submitted">
        <ng-container *ngIf="form.controls['clave'].hasError('required')">Debes informar tu clave.
        </ng-container>
        <ng-container *ngIf="form.controls['clave']?.value.length < 6">Debes informar una contraseña de
          al menos 6 caracteres. </ng-container>
      </small>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <label for="iconfirmar_clave">Repetir Clave</label>
      <input type="password" id="iconfirmar_clave" class="form-control" formControlName="confirmarClave"
        placeholder="Repite la clave" value="" maxlength="32">
      <small class="text-danger" *ngIf="iForm.submitted">
        <ng-container *ngIf="form.controls['confirmarClave'].hasError('required')">Debes confirmar tu
          clave. </ng-container>
        <ng-container
          *ngIf="form.controls['confirmarClave'].hasError('clavesMismatch')">Las
          contraseñas deben coincidir.</ng-container>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2 mb-3">
      <label for="iGeneroF">G&eacute;nero</label>
      <div class="form-check" *ngFor="let g of generos">
        <input type="radio" class="form-check-input" formControlName="codGenero" [value]="g.codigo"
          [attr.id]="'iGenero' + g.codigo">
        <label class="form-check-label" [attr.for]="'iGenero' + g.codigo">{{g.nombre}}</label>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <label for="ifecha_nacimiento">Fecha de Nac.</label>
      <input type="date" id="ifecha_nacimiento" formControlName="fechaNacimiento" class="form-control"
        value="">
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="inacionalidad">Nacionalidad</label>
      <select id="inacionalidad" formControlName="codNacionalidad" class="form-select">
        <option value="">Debe seleccionar una nacionalidad</option>
        <option *ngFor="let n of nacionalidades" [value]="n.codigo">{{n.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-left"><b class="text-secondary">Otros Datos</b></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <label for="iequipo">Equipo Favorito</label>
      <select id="iequipo" formControlName="equipos" size="5" multiple class="form-select">
        <option *ngFor="let e of equipos" [value]="e.id">{{e.nombre}}</option>
      </select>
      <small class="text-danger" *ngIf="iForm.submitted && form.controls['equipos'].hasError('eqMismatch')">
        Puedes elegir hasta 2 equipos.
      </small>
    </div>
    <div class="col-12 col-md-6 mb-3" formArrayName="actividades">
      <label>Actividades</label>
      <div class="form-check" *ngFor="let a of actividades">
        <input type="checkbox" class="form-check-input" [value]="a.id" [attr.id]="'i' + a.id"
          (change)="setActividades($event)" [checked]="a.checked">
        <label class="form-check-label" [attr.for]="'i' + a.id">{{a.nombre}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <label for="iactividades">Otras Actividades</label>
      <textarea cols="50" rows="5" id="iactividades" formControlName="otrasActividades" class="form-control"
        placeholder="Mis actividades son..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-danger ms-2" routerLink="/main">Cancelar</button>
      <small class="ms-3 text-danger" *ngIf="iForm.submitted && iForm.invalid">Falta completar el formulario</small>
    </div>    
  </div>
</form>
